@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Abel&family=Poppins:wght@100;200;300;400;500;600;700;800;900&family=Quicksand:wght@300;400;500;600;700&display=swap");
@import url("https://websfont.github.io/websfont/websfont.css");
@font-face {
  font-family: "iceJaram-Rg";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2307-2@1.0/iceJaram-Rg.woff2")
    format("woff2");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  src: url("https://assets.codepen.io/2479807/gilroy-regular.ttf");
  font-family: "Gilroy";
}

@font-face {
  src: url("https://assets.codepen.io/2479807/gilroy-semibold.woff2");
  font-family: "Gilroy Semi-Bold";
}

@font-face {
  font-family: "PPSupplyMono";
  font-weight: 500;
  font-style: normal;
  src: url("../font/supply/PPSupplyMono-Regular.woff2") format("woff2"),
    url("../font/supply/PPSupplyMono-Regular.woff2") format("woff");
  font-display: swap;
}
@font-face {
  font-family: "PPSupplyMono";
  font-weight: 100;
  font-style: normal;
  src: url("../font/supply/PPSupplyMono-Ultralight.woff2") format("woff2"),
    url("../font/supply/PPSupplyMono-Ultralight.woff") format("woff");
  font-display: swap;
}
@font-face {
  font-family: "PPSupplySans";
  font-weight: 500;
  font-style: normal;
  src: url("../font/supply/PPSupplySans-Regular.woff2") format("woff2"),
    url("../font/supply/PPSupplySans-Regular.woff") format("woff");
  font-display: swap;
}

@font-face {
  font-family: "IropkeBatang";
  font-weight: normal;
  font-style: normal;
  src: url("https://cdn.jsdelivr.net/gh/webfontworld/iropke/IropkeBatang.eot");
  src: url("https://cdn.jsdelivr.net/gh/webfontworld/iropke/IropkeBatang.eot?#iefix")
      format("embedded-opentype"),
    url("https://cdn.jsdelivr.net/gh/webfontworld/iropke/IropkeBatang.woff2")
      format("woff2"),
    url("https://cdn.jsdelivr.net/gh/webfontworld/iropke/IropkeBatang.woff")
      format("woff"),
    url("https://cdn.jsdelivr.net/gh/webfontworld/iropke/IropkeBatang.ttf")
      format("truetype");
  font-display: swap;
}
