#section6 {
  padding: 5% 5% 7% 5%;
  background-color: #222;
  color: #f2eee4;
}

#section6 .desc {
  font-size: 3.8vw;
  line-height: 1.2;
  font-family: "PPSupplyMono";
  font-weight: 100;
  letter-spacing: -0.2vw;
}

.sec6-text {
  display: flex;
  margin-top: 14%;
}

.sec6-text .text-left {
  width: 55%;
}

.sec6-text .text-left h3 {
  font-family: "Poppins";
  color: #f2eee4;
  font-size: 8vw;
  line-height: 0.9;
  font-weight: 800;
  text-transform: uppercase;
  margin-top: -0.7vw;
  position: sticky;
  left: 0;
  top: 90px;
}

.sec6-text .text-right {
  width: 45%;
  margin-top: -1.2vw;
}

.sec6-text .text-right dt {
  font-family: "iceJaram-Rg";
  font-size: 50px;
  margin-top: 50px;
}

.sec6-text .text-right dt.noTop {
  margin-top: 0;
}

.sec6-text .text-right dd {
  font-family: "IropkeBatang";
  font-size: 20px;
  margin-bottom: 5px;
  position: relative;
  padding-left: 28px;
}

.sec6-text .text-right dd::before {
  content: "";
  background-image: url(../img/check.svg);
  width: 18px;
  height: 18px;
  background-size: cover;
  position: absolute;
  left: 0;
  top: 5px;
  border-radius: 3px;
}

.comment-wrap .comment {
  margin-top: 100px;
}

.comment-wrap .comment.noTop {
  margin-top: 0;
}

.comment-wrap .comment .title {
  font-size: 8vw;
  line-height: 1;
  font-family: "iceJaram-Rg";
  display: inline-block;
}

.comment-wrap .comment .title em {
  font-size: 30px;
}

.comment-wrap .comment .auth {
  display: inline-block;
  font-family: "IropkeBatang";
  margin-bottom: 10px;
  font-size: 14px;
  opacity: 0.4;
}

.comment-wrap .comment .cont {
  position: relative;
  padding-left: 40px;
  font-family: "IropkeBatang";
  font-size: 20px;
  word-break: keep-all;
}

.comment-wrap .comment .cont::before {
  content: "";
  background-image: url(../img/terminal.svg);
  width: 30px;
  height: 30px;
  position: absolute;
  left: 0;
  top: 0;
  background-color: #f2eee4;
  background-size: 60%;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 50%;
}

.comment-wrap .comment form legend {
  display: none;
}

.comment-wrap .comment form fieldset {
  padding: 10px;
  border: 1px solid #cccccc7c;
}

.comment-wrap .comment form fieldset label {
  display: none;
}

.comment__form .input {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  font-family: "IropkeBatang";
  margin-bottom: 10px;
}

.comment__form .input input {
  border: 0;
  background: transparent;
  border: 1px solid #cccccc7c;
  width: 49%;
  padding: 10px;
  font-family: "IropkeBatang";
  color: #e0e0e0;
}

.comment__form .text textarea {
  border: 0;
  background: transparent;
  border: 1px solid #cccccc7c;
  width: 100%;
  resize: none;
  padding: 10px;
  font-family: "IropkeBatang";
  color: #e0e0e0;
}

.comment__form button {
  border: 0;
  background: transparent;
  border: 1px solid #cccccc7c;
  width: 100%;
  padding: 10px;
  color: #cccccc7c;
  font-family: "IropkeBatang";
}
