#section3 h4 {
  padding: 16px 23px 0;
  font-size: 20px;
  font-weight: bold;
  font-family: "iceJaram-Rg";
}

.port-wrap {
  display: flex;
  flex-wrap: wrap;
  padding: 5px 20px;
  width: 4450px;
}

.port-wrap .port {
  width: 610px;
  margin-right: 20px;
  border-radius: 10px;
  overflow: hidden;
  position: relative;
}
.port-wrap .port::after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 1;
  left: 0;
  top: 0;
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0.534) 0%,
    rgba(0, 0, 0, 0) 100%
  );
}

.port-wrap .port .info {
  position: absolute;
  left: 20px;
  top: 10px;
  z-index: 10;
}

.port-wrap .port .info h5 {
  color: #fff;
  width: 100%;
  padding: 0;
  font-family: "iceJaram-Rg";
  font-size: 5rem;
}

.port-wrap .port .info p {
  color: #fff;
  font-family: "IropkeBatang";
  width: 100%;
  font-size: 1rem;
}

.port-wrap .port img {
  filter: sepia(20%);
  height: calc(100vh - 200px);
}

.port-wrap .port .skill {
  position: absolute;
  right: 20px;
  bottom: 20px;
  z-index: 100;
}

.port-wrap .port .skill span {
  border: 1px solid #fff;
  border-radius: 5px;
  color: #fff;
  display: block;
  width: 100px;
  height: 100px;
  text-align: center;
  line-height: 100px;
  margin-top: 10px;
  font-family: "PPSupplyMono";
  cursor: pointer;
}
.port-wrap .port .skill span:hover {
  transition: all 0.2s;
  color: #000;
  background-color: #fff;
}
